html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
button {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  cursor: pointer;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
input {
  border: none;
  background-color: transparent;
}
input[type="checkbox"] {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid#000;
  &:checked {
    background-color: #000; /* 체크됐을 때 배경색을 변경합니다. */
  }
}
/* main page */

/*  ----------------------------------------좌측메뉴 */
.left-menu {
  width: 384px;
  margin: 0 40px;
  margin-top: 40px;
}
/* 미니 캘린더-------------------------------------------------- */
.mini-clandar {
  margin-top: 120px;
}
.leftCalendarMonth {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mini-month-btn {
  display: flex;
  justify-content: space-between;
  width: 40px;
}
.mini-prev-month-btn,
.mini-next-month-btn {
  width: 40px;
  color: #b0b0b0;
}
.mini-prev-month-btn:hover,
.mini-next-month-btn:hover {
  color: #000;
  cursor: pointer;
}
.mini-clandar {
  margin-top: 64px;
}
.leftCurrent-date {
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: 700;
}
.leftDays {
  margin-top: 12px;
  width: 100%;
  height: 195px;
}
.mini-calendar-tr {
  font-size: 18px;
  font-weight: 500;
  text-align: center;
}
/* 투두 리스트-------------------------------------- */
.todo-list {
  margin-top: 10px;
}
.tune-wrap {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 4px;
}
.tune-wrap img {
  width: 32px;
  height: 32px;
}
.category {
  position: relative;
  width: 100%;
  border-radius: 20px;
  background-color: #b0b0b0;
  height: 32px;
  padding-left: 4px;
  line-height: 32px;
  margin-bottom: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8px;
}

.drop-down img {
  transition: transform 0.3s ease;
}

.drop-down.clicked img {
  transform: rotate(180deg);
}

.category-name-wrap {
  line-height: 32px;
}

.send {
  display: flex;
  align-items: center;
}
.drop-down {
  margin-top: 4px;
  margin-right: 4px;
}
.category input::placeholder {
  color: #fff;
}

.check-todo-wrap {
}

.rotate {
  transform: rotate(180deg); /* 이미지 회전 */
}
.todo-wrap {
  width: 100%;
  display: flex;
  align-items: center;
}

.check-todo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 4px;
  margin-left: 8px;
  margin-right: 30px;
  height: 28px;
}
.checkbox {
  margin-right: 10px;
}
.todo-del {
  padding-top: 2px;
}
.add-todo-wrap {
  display: flex;
  justify-content: center;
}
.add-todo {
  border-radius: 50%;
  width: 24px;
  height: 24px;
  border: 1px solid#000;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.add-todo img {
  width: 16px;
  height: 16px;
}
.add-category {
  margin-top: 10px;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  border: 1px solid#000;
  display: flex;
  margin-left: 4px;
  justify-content: center;
  align-items: center;
}

.hamburger-menu {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  padding: 10px;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 4px 0;
  transition: 0.4s;
}

.left-menu {
  position: fixed;
  top: 80px;
  left: -500px;
  height: 100%;
  transition: 0.4s;
  overflow: scroll;
}
.left-menu::-webkit-scrollbar {
  display: none;
}
.left-menu ul {
  list-style-type: none;
  padding: 0;
}

.left-menu ul li {
  padding: 10px;
}

.left-menu ul li a {
  text-decoration: none;
  color: black;
}

.show-menu {
  left: 0;
}
/* ------------------------------------------------------------------- */
.diarySection {
  display: flex;
}

.rightSectionrWrap {
  margin: 4rem auto;
}

.diaryTopWrap {
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
}

.diaryTopBtnWrap {
  margin-right: -60rem;
  display: flex;
  align-items: center;
  font-size: 2rem;
}

.diaryOrCalendar {
  font-size: 2.5rem;
}

.showCalendar {
  margin-left: 0.9rem;
}

.diaryOrCalendar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
}

/* -----------------------------------------------------큰 달력 -----------------------------------------------------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

a {
  cursor: pointer;
  text-decoration: none;
}

button {
  border: none;
  outline: none;
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}

.material-symbols-outlined {
  font-size: 30px !important;
}

.rightSectionrWrap .material-symbols-outlined {
  font-size: 48px !important;
}

header {
  height: 36px;
  border: 1px solid black;
}

.diarySection {
  display: flex;
}

.rightSectionrWrap {
  margin: 4rem auto;
}

.diaryTopWrap {
  display: flex;
  justify-content: center;
  /* margin-left: 30rem; */
}

.diaryTopBtnWrap {
  margin-right: -60rem;
  display: flex;
  align-items: center;
  font-size: 2rem;
}

.diaryOrCalendar {
  font-size: 2.5rem;
}

.showCalendar {
  margin-left: 0.9rem;
}

.diaryOrCalendar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
}

/* -----------------------------------------------------큰 달력 -----------------------------------------------------*/

.rightCalendarMonth {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  width: 30rem;
  font-size: 2rem;
  font-weight: 500;
}

.rightCalendardate {
  width: 60rem;
  margin-top: 2rem;
}

.rightCalendardate ul {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  text-align: center;
}

.rightCalendardate .weeks li {
  font-weight: 500;
}

.rightCalendardate .days {
  margin-bottom: 20px;
}

.rightCalendardate .days li {
  text-align: left;
}

.rightCalendardate .weeks div {
  width: calc(100% / 7);
  position: relative;
  justify-content: center;
  border-bottom: 2px solid black;
}

.rightCalendardate .days div {
  height: 8rem;
  width: calc(100% / 7);
  position: relative;
  border-bottom: 1px solid #aaa;
  border-left: 1px solid #aaa;
}

.rightCalendardate .days div:last-child {
  border-right: 1px solid #aaa;
}

.rightCalendardate .days div:nth-child(7n) {
  border-right: 1px solid #aaa;
}

.days li.inactive {
  color: #aaa;
}

.days div:hover {
  background: #484848;
  color: #fff;
  cursor: pointer;
}

.active:after {
  color: #000000;
  background-color: rgb(255, 211, 211);
  content: "오늘";
  float: right;
  width: 50%;
  text-align: center;
  border-radius: 0.3rem 0 0.3rem 0.3rem;
}
/* ----------------------------작은달력 */
/* leftCalendar */
.leftNavWrapCalendar {
  width: 100%;
  height: 30%;
}

.leftCalender {
  /* width: 80%; */
  background: #fff;
  border-radius: 10px;
  /* padding: 25px; */
}

.leftCalendarMonth {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5%;
  margin-top: 3rem;
}

.leftCalender .leftCalendarMonth .leftCurrent-date {
  font-size: 24px;
  font-weight: 600;
}

.leftCalendardate ul {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  text-align: center;
}

.leftCalendardate .weeks li {
  font-weight: 500;
}

.leftCalendardate .leftDays {
  margin-bottom: 20px;
}

.leftCalendardate ul li {
  width: calc(100% / 7);
  position: relative;
}

.leftCalendardate .leftDays li {
  z-index: 1;
  cursor: pointer;
}

.leftDays li.inactive {
  color: #aaa;
}

.leftDays li:hover {
  background: #484848;
  color: #fff;
  border-radius: 15%;
}

.leftActive {
  color: #000000;
  background-color: rgb(255, 212, 212);
  border-radius: 0.3rem;
}
.clicked-day {
  background-color: black;
  color: white;
  border-radius: 50%;
}
