body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  h1{
    font-weight: lighter;
    text-align: center;
    margin-top: 10px;
    font-size : 25px;
  }

  h3{
    font-weight: lighter;
    color: gray;
    text-align : center;
    font-size : 16px;
  }
  
  .signup-container {
    background: white;
    padding: 20px;
    border-radius: 4px;
    width: 100%;
    max-width: 500px;
  }
  
  .social-login {
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }
  
  .social-button {
    margin: 0 5px;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    color: white;
  }

  
  .separator-container {
    display: flex;
    align-items: center;
    margin: 20px 0;
  }
  
  .line {
    flex: 1;
    height: 1px;
    background-color: #ccc;
  }
  
  .or-text {
    margin: 0 10px;
    color: #888;
  }
  
  .form-group {
    margin: 15px 0;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    text-align: left;
    color: #333;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="num"] {
    width: 100%;
    padding: 10px 0;
    border: none;
    border-bottom: 1px solid #ccc;
    margin-top: 5px;
  }
  
  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="password"]:focus,
  input[type="num"]:focus {
    outline: none;
    border-bottom: 2px solid #555;
  }
  
  .signup-button {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 4px;
    background-color: black;
    color: white;
    margin-top: 20px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .signup-button:hover {
    background-color: #333;
  }
  
  .signin-redirect {
    margin-top: 20px;
    font-size: 0.9em;
  }
  
  .signin-redirect a {
    color: #555;
    text-decoration: none;
  }
  
  .signin-redirect a:hover {
    text-decoration: underline;
  }

  .social-login {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    gap : 20px;
  }

  .social-box {
    width: 30px; /* or your preferred width */
    height: 30px; /* or your preferred height */
    margin: 0 5px;
    line-height: 30px; /* Aligns the img vertically */
    text-align: center; /* Aligns the img horizontally */
    background: none; /* If you want to remove the blue background */
  }
  
  .social-box img {
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle; /* To align the image vertically */
  }

  .checkbox-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* This will ensure that the two columns are spaced out evenly */
    text-align: left;
    margin-top: 20px;
  }
  
  .checkbox-container {
    width: 48%; /* Roughly half the container, accounting for padding/margins */
    /* Ensure there's enough room for 2 side by side */
    box-sizing: border-box;
    margin-bottom: 10px; /* Adjust as necessary for spacing */
  }

  .error-message {
    color: red;
    font-size: 0.8em;
    margin-top: 10px;
    text-align: left;
    position: relative;
    left: 0;
  }

  .error-icon {
    vertical-align: middle;
    height: 1em; /* Sets the size of the icon to match the font size of the text */
    width: auto; /* Maintains the aspect ratio of the image */
  }
  
  .dob-select {
    display: flex;
    align-items: center;
  }
  
  .dob-select label {
    margin-right: 5vh;
  }
  
  .dob-select select {
    margin-right: 20px; /* Adjust the spacing between the select elements as needed */
  }
  
  